<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                        <li data-target="#myCarousel" data-slide-to="6"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
                            <img src="../assets/images/desktop.JPG" alt="First slide">
				<!--  <div class="container"> -->
				<div class="carousel-caption">
					<h1></h1>
				<!--</div> -->
				</div>
			</div>
			<div class="item">
                            <img src="../assets/images/tablet.JPG" alt="Second slide">
				<!--<div class="container"> -->
				<div class="carousel-caption">
					<h1></h1>
				</div>
				<!--</div> -->
			</div>
			<div class="item">
                            <img src="../assets/images/smartphone1.JPG" alt="Third slide">
				<!--<div class="container"> -->
				<div class="carousel-caption">
					<h1> </h1>
				</div>
				<!--</div> -->
			</div>
                    <div class="item">
                        <img src="../assets/images/smartphone2.JPG" alt="Forth slide">
				<!--<div class="container"> -->
				<div class="carousel-caption">
					<h1> </h1>
				</div>
				<!--</div> -->
			</div>
                    <div class="item">
                        <img src="../assets/images/dashboard.jpg" alt="Fifth slide">
				<!--<div class="container"> -->
				<div class="carousel-caption">
					<h1> </h1>
				</div>
				<!--</div> -->
			</div>
                    <div class="item">
                        <img src="../assets/images/clima.jpg" alt="Sixth slide">
				<!--<div class="container"> -->
				<div class="carousel-caption">
					<h1></h1>
				</div>
				<!--</div> -->
			</div>
                    <div class="item">
                        <img src="../assets/images/uta.jpg" alt="Seventh slide">
				<!--<div class="container"> -->
				<div class="carousel-caption">
					<h1></h1>
				</div>
				<!--</div> -->
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>